@charset "UTF-8";

@-ms-viewport { width: device-width; }

/*
   Dependencies
   ========================================================================== */

@import url(https://fonts.googleapis.com/css?family=Prompt:300,400,500,600,700,800);
@import "partials/base/mixins";
@import "resetv2";
@import "partials/all";

/*
   Base Style
   ========================================================================== */

@include mq($screen-sm) {
  *:focus { outline: none !important; }
}

main {
  overflow: hidden;
}

html {
  min-height: 100%;
  box-sizing: border-box;
  font: {
    size: 10px;
  }
  font-smoothing: antialiased;
  font-family: 'Prompt', sans-serif;
  text-rendering: optimizeLegibility;
}

* { box-sizing: border-box; }