/* ==========================================================================
   Institucional
   ========================================================================== */

body.ad-institucional {
	main {
		padding: 30px 0 6%;

		.sidebar {
			line-height: 20px;
			padding: 0 110px 0 0;
	
			&__list {
				&__item {
					@include font-size(1.3);
					color: #777;
					margin-bottom: 10px;
					list-style-type: none;
					
					&__link {
						color: #777;
						font-weight: 400;
						letter-spacing: 0;
						text-decoration: none;
	
						&:hover {
							@extend .transition;
							color: #000;
							text-decoration: underline;
						}
					}
				}
			}
		}

		.content {
			h2 {
				@include font-size(2.4);
				color: #222;
				font-weight: 400;
				margin-bottom: 20px;
				letter-spacing: 0.1px;
			}

			h3 {
				@include font-size(2);
				color: #222;
				font-weight: 400;
				margin: 20px 0;
				letter-spacing: 0.1px;
			}

			p {
				@include font-size(1.4);
				color: #777;
				font-weight: 400;
				letter-spacing: 0;
				line-height: 20px;
			}

			td, strong, b{
				@include font-size(1.4);
			}

			.more-info {
				&__element {
					&__tlt {
						@include font-size(1.4);
						margin-bottom: 10px;
					}

					&__txt {
						@include font-size(1.2);
						color: #777;
						display: block;
						line-height: 20px;
						margin-bottom: 10px;
					}

					&__link {
						@include font-size(1.2);
						color: #9f615f;
						margin-bottom: 10px;
						text-decoration: none;

						&:hover {
							@extend .transition;
							color: #000;
							text-decoration: underline;
						}
					}

					&__add {
						@include font-size(1.2);
						color: #777;
						line-height: 20px;
						font-style: normal;
						margin-bottom: 10px;
					}
				}
			}
		}
	}
}