
/* ==========================================================================
   Página de Produto
   ========================================================================== */

body.ad-product{
    .showcase-owl{
        clear: both;
        display: block;
    }
    
    .portal-notify-me-ref {
        h3 {
            @include font-size(1.6);
            margin-bottom: 10px;
        }
        p {
            @include font-size(1.3);
            line-height: 20px;
            margin-bottom: 10px;
        }
    }
}