// /* ==========================================================================
//    Página de Busca, Categorias e Departamentos
//    ========================================================================== */

#content-filter-mobile{
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 400px;
	background-color: #fff;
	z-index: 999;
	padding: 20px;
	border-top: 4px solid #2e2b3e;
    overflow-y: auto !important;
	overflow-x: hidden !important;
	
	.filtros-title{
		font-size: 20px;
		text-transform: uppercase;
		display: inline-block;
		font-weight: bold;
		margin-bottom: 20px;
		text-align: left;
		width: 50%;
		vertical-align: middle;
	}

	#close-filter{
		display: inline-block;
		text-align: right;
		width: 50%;
		vertical-align: middle;
		margin-bottom: 20px;

		&:before{
			content: "\f00d";
			font-family: FontAwesome;
			display: inline-block;
			text-align: right;
			font-size: 20px;
		}
	}

	.search-single-navigator{
		text-align: left;
		color: #222;
		font-size: 13px;
		line-height: 14px;

		a{
			color: #222;
			line-height: 30px;
		}

		li{
			list-style-type: none;
		}

		h5{
			font-size: 15px;
			margin-top: 30px;
			margin-bottom: 10px;
		}

		h3{
			font-size: 16px;
			margin-bottom: 20px;
		}
	}
}

.HideMarca, .Marca{
	display: none;
  }

.HideCor-Comercial, .Cor-Comercial{
	font-size: 0 !important;
	display: block;

	&:after{
		font-size: 15px ;
		content: "Cor";
		display: inline-block;
	}
}

.ver-filtros{
	font-weight: 700;
    font-size: 13px;
    margin-top: 8px;
	display: inline-block;
	
	&:before{
		content: '\f067';
		font-family: FontAwesome;
		display: inline-block;
		font-size: 13px;
		color: #222222;
		vertical-align: middle;
		margin-right: 5px;
	}
}

.ad-search{
	.col-search-nav ul li a{
		padding: 0 !important;
	}

	.col-search-nav .Cor-Comercial{
		display: none;
	}

	.col-search-nav h3{
		display: block !important;
		font-size: 18px;
		margin: 20px 0 10px;
	}

	.col-search-nav h3 a{
		color: #222;
		text-transform: uppercase;
	}

	.department-title .value{
		font-weight: 400;
		font-size: 24px;
		color: #222222;
		letter-spacing: 0.3px;
		line-height: 32px;
		margin: 0;
		text-transform: uppercase;

		&:last-of-type{
			display: none;
		}
	}
}