/* ==========================================================================
   Footer
   ========================================================================== */

footer {
	.top-footer {
		padding: 15px 0;
		overflow: hidden;
		background-color: #fef5f5;

		&__box {
			margin-bottom: 20px;
			
			&__tlt {
				// @include font-size(1.6);
				font-size: 16px;
				color: #222;
				display: block;
				font-weight: 600;
				line-height: 20px;
				padding: 0 0 17px;
				letter-spacing: 0.5px;
			}

			&__social {
				&__txt {
					font-size: 13px;
					color: #777;
					font-weight: 400;
					line-height: 18px;
					letter-spacing: 0.1px;
				}

				&__list {
					margin-top: 12px;

					&__item {
						list-style: none;
						margin-right: 10px;
						display: inline-block;
						vertical-align: middle;

						&:last-child {
							margin-right: 0;
						}

						&__link {
							&__icon {
								@extend .transition;
								&:hover {
									@extend .transition;
									width: 30px;
									height: 30px;
								}
							}
						}
					}
				}
			}

			&__list {
				list-style: none;
				
				&__item {
					// todo
					// @include font-size(1.3);
					font-size: 13px;
					color: #777;
					line-height: 24px;
					letter-spacing: 0.1px;
					
					&__link {
						color: #777;
						font-weight: 400;
						text-decoration: none;

						&:hover {
							@extend .transition;
							text-decoration: underline;
						}
					}
				}
			}

			&__pagamento{

				&__list {
					list-style: none;
					
					&__item {
						// todo
						//@include font-size(1.3);
						font-size: 13px;
						display: inline-block;
						margin-right: 2px;
						color: #777;
						line-height: 24px;
						letter-spacing: 0.1px;

						img{
							width: 40px;
						}
					}
				}
			}

			&__seguranca{
				&__list {
					list-style: none;
					
					&__item {
						// todo
						// @include font-size(1.3);
						font-size: 13px;
						display: inline-block;
						margin-right: 2px;
						color: #777;
						line-height: 24px;
						letter-spacing: 0.1px;
						vertical-align: middle;
						
						img{
							width: 125px;
						}

						&:first-child{
							img{
								width: 50px;
							}
						}
					}
				}
			}
		}
	}

	.bottom-footer {
		padding: 15px 0;
		overflow: hidden;
		background-color: #f6ddd9;

		&__copy {
			line-height: 15px;
			text-align: center;
			font-size: 10px;
			@include mq($screen-md){
				text-align: left;
			}
		}

		&__dev {
			padding-top: 13px;
			text-align: center;

			@include mq($screen-md){
				text-align: right;
			}

			&__list {
				&__item {
					list-style: none;
					display: inline-block;
					vertical-align: middle;

					&__link {
						display: block;
					}

					&:first-child{
						svg{
							width: 118px;
							height: auto;
						}
					}
				}
			}
		}
	}
}