/* ==========================================================================
   Header
   ========================================================================== */

header{
	@extend .transition;

	.fixed-top {
		background-color: #F8B89F;
		
		&__list {
			padding: 10px 0;
			overflow: hidden;

			&__item {
				color: #fff;
				list-style-type: disc;
				font-size: 12px;
			
				&:first-child {
					list-style-type: none;
				}
			}
		}
	}

	.middle-box {
		border-bottom: 1px solid #eeeeee;

		&__logo {
			text-align: center;
			margin-top: 12px;

			@include mq($screen-md) {
				margin-top: 0;
			}

			&__link {
				&__pic {
					height: auto;
					max-width: 110px;
				}

				svg{
					width: 120px;
					height: 38px;
				}
			}
		}

		&__items-search {
			overflow: hidden;
			padding-top: 18px;

			@include mq($screen-md) {
				padding-top: 10px;
			}

			&__item {
				// @include font-size(1.2)
				font-size:12px!important;
				margin-right: 5px;
				display: inline-block;
				list-style-type: none;
				vertical-align: baseline;

				&:first-child {
					line-height: 8px;
				}

				&:last-child {
					margin-right: 0;

					&:before {
						content: '/';
						color: #222;
						margin-right: 5px;
						display: inline-block;
					}
				}

				&__icon {
					margin-right: 1px;
					display: inline-block;
					vertical-align: middle;
				}

				&__link {
					color: #222;
					text-transform: none;
					text-decoration: none;

					&:hover {
						color: #9f615f;
					}
				}

				.v-middle{
					display: inline-block;
					vertical-align: baseline;

					.welcome{
						display: inline-block;
						font-size: 0;
						
						em{
							a{
								display: inline-block;
								font-style: normal;
								color: #222;
								text-decoration: none;

								&:before{
									content: "Logout";
									font-size: 12px;
									display: inline-block;
								}

								&#login{
									&:before{
										font-size: 12px;
										content: "Login";
										display: inline-block;
									}
								}
							}
						}
					}
				}
			}

			&__icon{
				margin-right: 1px !important;
			}
		}
	}

	.menu-header {
		@extend .transition;
		top: 100%;
		left: -100%;
		float: left;
		width: 100%;
		z-index: 9;
		position: absolute;
		@include mq($screen-md) {
			left: 0;
			opacity: 1;
			display: block;
			position: relative;
			background-color: transparent;
			width: 100%;
			text-align: center;
		}

		.container{
			position: relative;
		}

		ul{ 
			li{
				@extend .transition;
				position: relative;

				@include mq($screen-md) {
					position: initial;
					display: inline-block;
					vertical-align: middle;
					margin-left: 1%;
				}
				a{
					// @include font-size(1.6);
					// todo
					font-size: 16px;
					color: #222;
					text-decoration: none;
					display: block;
					padding: 14px 8px;
					border-bottom: 2px solid #fff;
				}

				&.has-sub{
					.js-open-sub{
						top: 5px;
						right: 0;
						border: 0;
						outline: none;
						background: none;
						position: absolute;

						.menu-toggle{
							width: 20px;
							height: 20px;
							display: block;
							margin: 0 auto;
							position: relative;
							pointer-events: none;

							@include mq($screen-sm) {
								width: 25px;
								height: 25px;
							}

							span {
								@extend .transition;
								left: 0;
								opacity: 1;
								height: 12%;
								width: 100%;
								display: block;
								background: #fff;
								position: absolute;
								border-radius: 9px;
								transform: rotate(0deg);
								// transition: .25s ease-in-out;

								&:nth-child(1) {
								  top: 0px;
								}

								&:nth-child(2) {
								  top: 9px;
								}

								&:nth-child(3) {
								  top: 18px;
								}

							}
						}

						&.active{
							.menu-toggle{
								span{
									&:nth-child(1) {
										top: 9px;
										transform: rotate(135deg);
									}

									&:nth-child(2) {
										opacity: 0;
										left: -60px;
									}

									&:nth-child(3) {
										top: 9px;
										transform: rotate(-135deg);
									}
								}
							}
						}
					}

					.submenu{

						@extend .transition;
						height: 0;
						opacity: 0;
						padding: 0 15px;
						overflow: hidden;
						background: #f1f1f1;
						pointer-events: all;

						@include mq($screen-md) {
							pointer-events: none;
						}

						a{
							&:before{
								margin-top: 9px;
							}
						}

						@include mq($screen-md){
							top: 0;
							left: 0;
							width: 100%;
							z-index: -1;
							height: auto;
							margin-top: 0;
							display: flex;
							background: #fff;
							overflow: visible;
							position: absolute;
							padding: 20px 20px 0;
							border: 1px solid #dbdbdb;

							a{
								margin-right: 0;
								line-height: 30px;

								&:before{
									display: none;
								}
							}
						}

						&.slideActive{
							opacity: 1;
							height: auto;
							padding-top: 15px;
							position: relative;
							pointer-events: all;
							padding-bottom: 15px;
						}
						nav{
							width: 100%;

							ul{
								li{
									clear: both;
									width: 100%;
									display: list-item;

									a{
										// @include font-size(1.4);
										font-size:14px;
										@extend .transition;
										padding: 0;
										text-transform: none;
										color: #222;
										text-align: left;

										&:hover{
											@extend .transition;
											color: #222;
										}
									}
								}
							}
						}

						.category-list,
						.banner-submenu{
							display: inline-block;
							vertical-align: top;
							width: 100%;

							@include mq($screen-md){
								width: 50%;
							}

							ul{
								@include mq($screen-md){
									display: inline-block;
									width: 50%;
									margin-top: 40px;
									padding-left: 20px; 
								}
							}
						}

						.banner-submenu{
							a{
								margin: 0;
								padding: 0;
								display: flex;
							}

							img{
								width: 100%;
								height: auto;
							}
						}
					}

					&:hover{
						a.first-menu{
							border-bottom: 2px solid #222;
							background-color: #fff;
							z-index: 99999999999999;
						}

						.submenu{
							opacity: 1;

							@include mq($screen-md){
								top: 46px;
								pointer-events: all;
							}
						}
					}
				}
			}
		}

		&.slideActive{
			left: 0;
			top: 120px;
			height: 100%;
			opacity: 1;
			position: fixed;
			background: #fff;
			border-top: 4px solid #2e2b3e;
			padding: 20px 20px 135px;
			overflow-y: auto;
			overflow-x: hidden;
			ul{
				li{
					a{
						// @include font-size(1.4);
						font-size:14;
						color: #000;
						line-height: 8px;

						&.first-menu{
							// @include font-size(1.8);
							font-size: 18;
							border: none !important;
						}
					}

					&.has-sub{

						a{
							display: block;

							&.first-menu{
								&:after{
									// @include font-size(2.5);
									font-size: 25;
									content: "+";
									float: right;
									font-weight: bolder;
								}

								&.active{
									&:after{
										// @include font-size(2.5);
										font-size:25px;
										content: "-";
										float: right;
										font-weight: bolder;
									}
								}
							}
						}

						.submenu{
							height: auto;
							opacity: 1;
							background-color: #fff;
							display: none;

							ul{
								li{
									a{
										// @include font-size(1.4);
										font-size:25px;
										padding-left: 20px;
										line-height: 16px;
										padding: 5px 5px 5px 20px;
										display: block;
										width: 100%;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// todo
.body-fixed{
	//overflow: hidden;
	position: fixed;
}

.cart-info{
	margin: 0;
}

@media (max-width: 767px){
	body{
	margin: 0!important;
	padding: 0!important;
	};
	
	.page-header{
		padding: 0px 7%;
	};

	ul.top-footer__box__list{
		margin: 0;
	}
}
