/* ==========================================================================
   Newsletter
   ========================================================================== */

.newsletter {
	padding: 30px 0;
	overflow: hidden;
	text-align: center;
    background-color: #e9e9e9;

	&__tlt {
		@include font-size(2.4);
		color: #222;
		margin: 0 0 15px;
		font-weight: 500;
		letter-spacing: 0.2px;
		display: inline-block;
		
		&__spe {
			color: #F8B89F;
		}
	}

	&__info {
		@include font-size(1.3);
		color: #777;
		font-weight: 500;
		margin-bottom: 20px;
		letter-spacing: 0.1px;
	}

	.form-schema {
		&__set {
			display: inline-block;
			vertical-align: middle;

			&__field {
				margin: 0;
				width: 210px;
				height: 50px;
				line-height: 50px;
				padding-left: 15px;

				&--button {
					@include font-size(1.5);
					border: 0;
					width: 100px;
					height: 50px;
					cursor: pointer;
					font-weight: 500;
					line-height: 50px;
					display: inline-block;
					vertical-align: middle;
					letter-spacing: 0.12px;

					&:hover {
						@extend .transition;
						color: #fff;
						background-color: #9f615f;
					}
				}
			}
		}
	}
}